.Pokedex{
    margin-top: 5em;
}

.Pokedex-loader{
    margin-top: 7em;
}

.Pokedex-pkm-container{
    margin-top: 1em;
}

.Pokedex-btn-container{
    max-width: inherit;
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Pokedex-btn{
    border: 1px solid #fff;
    padding: 0.4em;
    background: #fff;
    text-transform: uppercase;
    color: rgb(249, 108, 108);
    border: 1px solid rgb(249, 108, 108); 
    font-size: .8rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border-radius: .5em;
}

.Pokedex-btn:hover{
    background-color: rgb(249, 108, 108);
    color: #fff;
}

.Pokedex-btn i{
    font-size: 1.3rem;
}

@media(min-width : 710px){

    .Pokedex{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .Pokedex-btn-container{
        width: 100%;
    }

    .Pokedex-pkm-container{
        width: 100%;
        max-width: 950px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}