.Pokemon{
    display: flex;
    font-size: 1em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: solid 1px rgb(70, 66, 66); */
    margin-top: 1em; 
    max-width: 100%;
    height: 490px;
    position: relative;
}

.Pokemon-expand{
    height: auto;
    /* border: solid 1px rgb(70, 66, 66); */
    border-bottom: none;
}

.Pokemon-card-show{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: flex-end;
    background-color: rgb(249, 108, 108);
    color: white;
    width: 100%;
    height: auto;
    padding: 1em;
}

.Pokemon-card-hide{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: flex-end;
    background-color: rgb(70, 66, 66);
    color: white;
    position: absolute;
    top: 87.6%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-height: 500px;
    padding: 0 1.5em 0 2em;
}

.Pokemon-card-hide ::after{
    position: absolute;
    width: 100%;
    height: auto;
    content: '';
    background-color: rgb(249, 108, 108);
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top left;
    transform: skewY(-10deg);
    /* border-top-right-radius: 4rem; */
}

.Pokemon-intro{
    display: flex;
    flex-direction: column;
}

.Pokemon-intro button{
    align-self: flex-end;
    margin-bottom: 1.5em;
    border: none;
    padding: 0.5em;
    background: none;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 0.5rem;
    border-radius: 0.5em;
    letter-spacing: 0.05rem;
    color: white;
    cursor: pointer;
}

.Pokemon-open{
    font-size: 1.7rem;
    transition: .3s ease-in-out
}

.Pokemon-open:hover{
    color: rgb(249, 108, 108);
}

.Pokemon-close{
    font-size : 1.7rem;
    transition: .3s ease-in-out
}

.Pokemon-close:hover{
    color: rgb(70, 66, 66);
}


.Pokemon-img-container-show{
    display: flex;
    height: auto;
    padding: 1.5em;
    flex-direction: column;
    justify-content: flex-start;
}

.Pokemon-img-container-hide{
    display: flex;
    height: 60vh;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1.5em;
}

.Pokemon-img{
    width: 100%;
    height: 65%;
}

.Pokemon-info{
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Pokemon-info h3{
    width: 100%;
}

.Pokemon-info-show{
    align-self: flex-start;
    display: flex;
}

.Pokemon-info h1{
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
}

.Pokemon-info h3{
    font-size: 0.9rem;
    font-weight: 200;
}

.Pokemon-details-show{
    height: 100%;
    display: block;
    visibility: 1;
    opacity: 1;
    transition: opacity 0.7s ease-in-out;
}

.Pokemon-details-hide{
    height: 0;
    display: none;
    visibility: 0;
    opacity: 0;
}

.Pokemon-types{
    align-self: flex-start;
    margin-left: 2.2em;
    font-size: 1.1rem;
    font-weight: 200;
    letter-spacing: 0.1rem;
}

.Pokemon-sprite-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: .3em;
    align-items: center;
}

.Pokemon-sprites{
    width: 23vw;
}

.Pokemon-abilities-container{
    display: flex;
    align-items: center;
    align-self: start;
    margin-top: 2em;
    margin-left: 1em;
}

.Pokemon-abilities-container h2{
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    align-self: start;
    letter-spacing: 0.040rem;
}

.Pokemon-abilities{
    margin-left: 2em; 
    font-size: .9rem;
    font-weight: 200;
}

.Pokemon-stats-container{
    display: flex;
    align-self: start;
    align-items: center;
    gap: 1em;
    margin-top: 1em;
    margin-left: 1em;
}

.Pokemon-stats-container h2{
    font-size: 1rem;
    letter-spacing: 0.040rem;
    text-transform: uppercase;
}

.Pokemon-stats{
    margin-left: 2.7em;
    font-weight: 200;
}

.Pokemon-unknown{
    width: 3em;
    height: 3em;
    margin: 0 1em;
}

/* @media(min-width : 615px){
    .Pokemon-img-container-show{
        display: flex;
        width: 100%;
        height: 80vh;
        padding: 1.5em;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Pokemon-card-hide ::after{
        position: absolute;
        width: 100%;
        height: auto;
        content: '';
        background-color: rgb(249, 108, 108);
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform-origin: top left;
        transform: skewY(-9deg);
    }
} */

@media(min-width : 710px){
    .Pokemon{
        width: 45%;
        max-width: 350px;
    }

    .Pokemon-expand{
        width: 45%;
        max-width: 350px;
    }

    .Pokemon-img-container-show{
        display: flex;
        height: 60vh;
        padding: 1.5em;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Pokemon-details-show{
        width: 100%;
        max-width: 350px;
        display: block;
        visibility: 1;
        opacity: 1;
        transition: opacity 0.7s ease-in-out;
    } 

    .Pokemon-sprite-container{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: .3em;
        align-items: center;
    }

    .Pokemon-sprites{
        width: 75px;
    } 

    .Pokemon-card-show{
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        justify-content: flex-end;
        background-color: rgb(249, 108, 108);
        color: white;
        width: 350px;
        height: 600px;
        padding: 1em;
    }

    .Pokemon-card-hide ::after{
        position: absolute;
        width: 100%;
        height: auto;
        content: '';
        background-color: rgb(249, 108, 108);
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform-origin: top left;
        transform: skewY(-10deg);
        /* border-top-right-radius: 4rem; */
    }

    .Pokemon-intro i{
        font-size: 1.3rem;
    }
}


@media(min-height : 1500px){
    .Pokemon-img-container-show{
        display: flex;
        height: 600px;
        padding: 1.5em;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}